
<%- include('header') %>
		<div class="moneystuff">
			<h1>Admin Login</h1>
            <h2>Login Here</h2>
			<form action="adminLogin" method="POST">
                <input type="text" name="name" value="" placeholder="Name">
				<input type="password" name="password" value="" placeholder="Password">
                <input type="submit" name="" value="Submit">
			</form>
		</div>
		<div class="lightdarkmode">
			<button onclick="myFunction()">Toggle light/dark mode</button>
		</style>
		
	</head>
	<body>
		<div class="students">
			<h1>Admin</h1>
			<h2>Students</h2>
			<table style="width:100%">
				<tr>
				  <th>Student</th>
				  <th>ID</th>
				  <th>Balance</th>
				</tr>
				<tr>
				  <td>Amogus</td>
				  <td>1234</td>
				  <td>$ 200.69</td>
				</tr>
				<tr>
				  <td>Markiplier</td>
				  <td>9876</td>
				  <td>$ 9,000.42</td>
				</tr>
			  </table>
		</div>
	</body>
</html>
