<%- include('header') %>
		
<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
   <!-- partial:index.partial.html -->
<h1>Gaidos Bank</h1> 
<div class="outer-menu">
  <input class="checkbox-toggle" type="checkbox" />
  <div class="hamburger">
    <div></div>
  </div>
  <div class="menu">
    <div>
      <div>
        <ul>
          <li><a href="#">About</a></li>
          <li><a class="nav-link btn btn-warning signup" href="/">Logout</a></li>
          <li><a class="nav-link btn btn-warning signup" href="/Student">Student</a></li>
          <li><a class="nav-link btn btn-warning signup" href="/Bank">Bank</a></li>
          <li><a href="#">Transaction History</a></li>
          <li><a class="nav-link btn btn-warning signup" href="/admin">Admin</a></li>
          <li><a class="nav-link btn btn-warning signup" href="/History">Transaction History</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- partial -->
</section>
<!-- Analytics -->
	</body>
</html>