<%- include('header') %>
    <h1>
        (Insert Bank Type) Bank
    </h1>
    <h2>
        Welcome, <%= username %>!
    </h2>
    <h3>
        You have (Insert Currency Amount) (Insert Currency Type).
    </h3>
</html>