<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bank System</title>
    <style media="screen">
      div.moneystuff {
        text-align: center;
      }
    </style>
  </head>
  <body>
<h1 style="text-align: center">Pog*Mart Digital Banking Service</h1>
<h2 style="text-align: center">Login Here</h2>
<div class="moneystuff">
  <form class="" action="/login" method="post">
    <input type="number" name="id" value="" placeholder="ID">
    <input type="text" name="name" value="" placeholder="Name">
    <input type="submit" name="" value="submit">
  </form>

</div>
  </body>
</html>
