<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bank System</title>
    <style media="screen">
      div.moneystuff {
        text-align: center;
      }
    </style>
  </head>
  <body>
<h1 style="text-align: center">Banking Service</h1>

<div class="moneystuff">
  <form class="" action="/giveMoney" method="post">
    <input type="number" name="id" value="" placeholder="ID">
    <input type="text" name="moneyAmount" value="" placeholder="Money Amount">
    <input type="text" name="name" value="" placeholder="Name">
    <input type="submit" name="" value="give money">
  </form>

</div>
  </body>
</html>
