<%- include('header') %>
<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading">
            	<h1>Gaidos Bank Login</h1>
                <p>Gaidos Bank Login.</p>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
        <!-- Login Form Popup HTML -->
                  <center>
<label class="modal-btn" for="modal-toggle">Login/Signup</label>  
                  </center>
    <input id="modal-toggle" type="checkbox">
    <label class="modal-backdrop" for="modal-toggle"></label>
    <div class="modal-content">
        <label class="modal-close-btn" for="modal-toggle">
		      <svg width="30" height="30">
            <line x1="5" y1="5" x2="20" y2="20"/>
		        <line x1="20" y1="5" x2="5" y2="20"/>
		      </svg>
	      </label>
          <div class="tabs">
            <!--  LOG IN  -->
                        <input class="radio" id="tab-1" name="tabs-name" type="radio" checked>
                        <label for="tab-1" class="table"><span>Login</span></label>
                        <div class="tabs-content">
                           
                           <form action="/Login" method="post">
							<input type="text" name="name" value="" id="name" placeholder="Username">
							<input type="password" name="password" value="" id="password" placeholder="Password">
                               <input type="submit" value="Log In">
                           </form>
                           
                        </div>
            <!--  SIGN UP  -->
                        <input class="radio" id="tab-2" name="tabs-name" type="radio">
                        <label for="tab-2" class="table"><span>Sign up</span></label>
                        <div class="tabs-content">
                            
                           <form action="/register" method="post">
							<input type="text" name="studentName" value="" id="studentName" placeholder="Username">
							<input type="password" name="studentPassword" value="" id="studentPassword" placeholder="Password">
                               <input type="submit" value="Sign Up">
                           </form>
                        </div>
                    </div>
                </div>
<!-- partial -->
    		</div>
		</div>
    </div>
</section>
      <script src='https://use.fontawesome.com/7fcc5972f1.js'></script><script  src="./app.js"></script> 
	</body>
</html>