<%- include('header') %>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>


<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
    		<div class="tile" id="tile-1">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <div class="slider"></div>
     <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fas fa-home"></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fas fa-id-card"></i> Profile</a>
      </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"><form action="/transaction" method="post">
      Amount you want to send
      <input type="number" name="amount">
      ID you want to send to
      <input type="text" name="id">
      <input type="submit" name="" value="Submit">
  </form></div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <li> <a class="nav-link btn signup" href="/bank">Bank</a></li>
    <li><a class="nav-link btn signup" href="/login">Login</a></li>
    <li><a class="nav-link btn signup" href="/admin">Admin</a></li>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

  </div>
  <div class="tab-pane fade" id="setting" role="tabpanel" aria-labelledby="setting-tab">

  </div>
  </div>

</div>
<!-- partial -->
<!-- jQuery JS -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<!-- Bootstrap JS -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js'></script><script>
$(document).ready(function(){
                      
  $("#tile-1 .nav-tabs a").click(function() {
      
  var position = $(this).parent().position();
      
  var width = $(this).parent().width();
      
    $("#tile-1 .slider").css({"left":+ position.left,"width":width});
      
   });
var actWidth = $("#tile-1 .nav-tabs").find(".active").parent("li").width();
    
var actPosition = $("#tile-1 .nav-tabs .active").position();
    
$("#tile-1 .slider").css({"left":+ actPosition.left,"width": actWidth});
    
});        
</script>
    		</div>
		</div>
    </div>
</section>
     

   <!-- ANALYTICS -->

	</body>
</html>