<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/styles.css" />
	<title>View Transactions</title>
</head>

<body>
	<%-include('navbar.ejs', {page:page})%>
		<div class="justify-content-center text-center" style="width: 75%; margin-left: 12.5%; margin-bottom: 0px">
			<p class="fs-3 fw-bold">View Transactions</p>
			<table class="table table-striped table-hover">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th scope="col">Sender ID</th>
							<th scope="col">Receiver ID</th>
							<th scope="col">Amount</th>
						</tr>
					</thead>
					<tbody>
						<%for (transaction in transactions) {%>
							<tr>
								<td>
									<%=JSON.stringify(transactions[transaction].senderId)%>
								</td>
								<td>
									<%=JSON.stringify(transactions[transaction].receiverId)%>
								</td>
								<td>
									<%=JSON.stringify(transactions[transaction].amount)%>
								</td>
							</tr>
						<%}%>
					</tbody>
				</table>
		</div>
</body>

</html>