<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/styles.css" />
		<title>Signup</title>
	</head>

	<body>
		<%-include('navbar.ejs', {page:page})%>
		<div
			class="justify-content-center text-center"
			style="width: 25%; margin-left: 37.5%; margin-bottom: 0px"
		>
			<p class="fs-3 fw-bold">Signup</p>
			<form action="/signup" method="post">
				<div class="input-group mb-3">
					<span class="input-group-text">Username</span>
					<input
						type="text"
						class="form-control"
						placeholder="Username"
						name="username"
					/>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text">Password</span>
					<input
						type="text"
						class="form-control"
						placeholder="Password"
						name="password"
					/>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text">Confirm Password</span>
					<input
						type="text"
						class="form-control"
						placeholder="Confirm Password"
						name="confirmPassword"
					/>
				</div>
				<button type="submit" class="btn btn-primary">Signup</button>
			</form>
		</div>
	</body>
</html>
