$navHeight: 7vh;
$navWidth: 100vw;
$navBorder: 1vh;
$titleHeight: calc($navHeight - $navBorder);
$titleWidth: calc($navWidth * 0.2);
$listHeight: calc($navHeight - $navBorder);
$listWidth: calc($navWidth * 0.38);
$themeButtonWidth: calc($listWidth* 0.1);
$themeButtonMargin: calc($themeButtonWidth * 0.2);
$listWidth2: calc($listWidth - $themeButtonWidth - $themeButtonMargin);

body {
	margin: 0;
	// overflow-x: hidden;
}

#__next {
	display: grid;
}

* {
	box-sizing: border-box;
}

button {
	cursor: pointer;
}

:root {
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Roboto,
		Oxygen, Ubuntu,
		Cantarell,
		Open Sans,
		Helvetica Neue,
		sans-serif;
}

form {
	justify-content: center;
}

input {
	padding: 0.5vh 1vh;
	border-width: 0.4vh;
	transition: 0.5s;
	outline: none;
	border-radius: 5vh;
	width: fit-content;

	&[type=text]:focus {
		filter: invert(60%)
	}

	&[type=submit] {
		cursor: pointer;
	}
}

$scrollbarSize: 0.5vw;

.scrollAreaRoot {
	overflow: hidden;
}

.scrollAreaViewport {
	width: 100%;
	height: 100%;
	border-radius: inherit;
}

.scrollAreaScrollbar {
	display: flex;
	user-select: none;
	touch-action: none;
	padding: 0.1vw;
	border-radius: calc($scrollbarSize + (0.1vw * 2));
	transition: background-color 160ms ease-out;

	&[data-orientation=vertical] {
		width: $scrollbarSize;
	}

	&[data-orientation=horizontal] {
		flex-direction: column;
		height: $scrollbarSize;
	}
}

.scrollAreaThumb {
	cursor: grab;
	flex: 1;
	border-radius: $scrollbarSize;
	position: relative;

	&:active {
		cursor: grabbing;
	}

	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		min-width: 44px;
		min-height: 44px;
	}
}

.scrollAreaCorner {}

.separator {
	border-radius: 2vh;

	&[data-orientation=horizontal] {
		height: 0.5vh;
	}

	&[data-orientation=vertical] {
		width: 0.5vh;
	}
}

div[role=tablist] {
	height: fit-content;
	display: flex;
	justify-content: center;
	margin-bottom: 2vh;

	.separator {
		margin: 0 5%;
	}

	button[role=tab] {
		font-size: 6vh;
		border-width: 0.4vh;
	}
}

div[role=tabpanel] {
	padding: 2vh;
	border-width: 0.4vh;
	border-radius: MIN(5vh, 10vw);
}


#viewTransactionsTable {
	margin-top: 4vh;
	width: 90%;
	justify-self: center;
	overflow: hidden;

	#tableContainer {
		height: calc(88vh - $navHeight);
		display: grid;
		border-style: solid;
		border-width: 0.75vh;
		border-radius: 4vh;
		display: grid;
		overflow: hidden;
	}
}

#admin {
	height: calc(96vh - $navHeight);
	width: 100%;
	display: grid;
	align-content: center;
	margin: 2vh 0;
	justify-self: center;


	#tableContainer {
		min-height: max-content;
		max-height: calc(80vh - $navHeight);
		min-width: 75vw;
		max-width: max-content;
		display: grid;
		overflow: hidden;
	}

	#tabRoot {
		display: grid;

		button[role=tab] {
			font-size: 5vh;
		}

		div[role=tabpanel][data-state=active] {
			height: fit-content;
			width: fit-content;
			display: grid;
			margin-top: 0.5vh;
			justify-self: center;
			border-style: solid;
			border-width: 0.75vh;
			border-radius: 4vh;
			display: grid;
		}
	}
}

#tableContainer {
	#table {
		padding: 1.5vh 2.5vh;
		display: grid;
	}

	button {
		border: none;
	}

	table {
		border-spacing: 1vh;

		thead {
			top: 0;

			th {
				font-size: 3vh;
				padding: 2px;
				border-style: solid;
				border-width: 0.5vh;
				border-radius: 5vh;
			}
		}

		tbody {
			td {
				font-size: 2.5vh;
				padding: 2px;
			}
		}
	}

	label {
		margin: 2vh 0;
		font-size: 4vh;
		justify-self: center;

		input {
			font-size: inherit;
		}
	}
}

#home {
	width: 90%;
	margin-left: 5%;
	margin-top: 3vh;

	p {
		text-align: center;
		font-size: 3vh;
		font-weight: bold;
	}

	#tableContainer {
		background-color: transparent !important;

		table {
			border-spacing: MAX(1vh, 0vw);
			border-radius: 5vh;
			padding: 2vh;

			thead {
				top: 0;
				position: sticky;

				th {
					font-size: MIN(3vh, 10vw);
					padding: 2px;
					border-color: rgb(75, 75, 75);
					border-style: solid;
					border-width: MIN(0.5vh, 10vw);
					border-radius: MIN(5vh, 10vw);
				}
			}

			tbody {
				tr {
					&:nth-child(even) {
						background-color: rgb(50, 50, 50);
					}

					&:nth-child(odd) {
						background-color: rgb(30, 30, 30);
					}

					&:nth-child(1) {
						background-color: rgb(255, 215, 0);
					}

					&:nth-child(2) {
						background-color: rgb(192, 192, 192);
					}

					&:nth-child(3) {
						background-color: rgb(205, 127, 50);
					}
				}

				td {
					font-size: MIN(2.5vh, 10vw);
					padding: 2px;
				}
			}
		}
	}
}

#login {
	margin-top: 8vh;
	display: grid;
	justify-content: center;

	form {
		font-size: 8vh !important;
		display: grid;

		input {
			font-size: 8vh !important;

			&[type=number],
			&[type=text],
			&[type=password] {
				margin-bottom: 2vh;
			}

			&[type=submit] {
				justify-self: center;
			}

			&::placeholder {
				font-size: 8vh;
				line-height: 1.5;
			}
		}
	}

	#error {
		font-weight: bold;
		margin-top: 5vh;
		border-color: rgb(255, 0, 0);
		border-style: solid;
		border-width: MIN(0.4vh);
		border-radius: MIN(5vh, 10vw);
		width: 60%;
		margin-left: 50%;
		transform: translateX(-50%);

		button {
			font-size: 2.5vh;
			position: absolute;
			right: 1.5ch;
			top: 1.5ch;

			&:hover {
				color: rgb(255, 0, 0);
			}
		}

		p {
			font-size: 3.5vh;
			width: fit-content;
			padding-left: 5%;
			padding-right: 10%;
		}
	}
}


#makeTransaction {
	form {
		margin-top: 2vh;
		display: grid;
		width: 90%;
		margin-left: 5%;
		zoom: 300%;

		// label {
		// 	margin-left: 50%;
		// 	transform: translateX(-50%);
		// }

		input {
			margin-left: 50%;
			transform: translateX(-50%);

			&[type=text],
			&[type=number] {
				margin-bottom: 1.5vh;
				margin-top: 0.75vh;
			}

			&[type=submit] {
				margin-top: 1vh;
			}
		}
	}

	#error {
		font-weight: bold;
		margin-top: 5vh;
		border-style: solid;
		border-width: MIN(0.4vh);
		border-radius: MIN(5vh, 10vw);
		width: 60%;
		margin-left: 50%;
		transform: translateX(-50%);

		button {
			font-size: 2.5vh;
			position: absolute;
			right: 1.5ch;
			top: 1.5ch;

			&:hover {
				color: rgb(255, 0, 0);
			}
		}

		p {
			font-size: 3.5vh;
			width: fit-content;
			padding-left: 5%;
			padding-right: 10%;
		}
	}

	.error {
		border-color: rgb(255, 0, 0);
	}

	.success {
		border-color: rgb(0, 255, 0);
	}
}


#nav {
	padding-bottom: $navBorder;

	@media (orientation:landscape) {
		height: $navHeight;
		width: $navWidth;
		border-bottom-width: $navBorder;

		:has(#title) {
			margin: calc(($navHeight - $titleHeight) / 2) 0;
			height: $titleHeight;
			width: $titleWidth;
			display: grid;
			place-content: center;
		}

		:has(.list) {
			height: $listHeight;
			margin: calc(($navHeight - $listHeight) / 2) calc(($navWidth - $titleWidth - $listWidth * 2) / 2);
			width: $listWidth;
			display: grid;
			place-content: center;
		}

		#title {
			font-size: MIN($titleHeight, $titleWidth / 10.5);
		}

		a {
			font-weight: bold;
			text-decoration: none;
		}

		.list {
			width: $listWidth2;
			justify-content: space-around;
			font-size: MIN($listHeight / 2, $listWidth2/10.5);

			button {
				font-size: inherit;
			}
		}

		#theme {
			width: $themeButtonWidth;
			margin-right: $themeButtonMargin;
		}
	}


	@media (orientation:portrait) {
		div {
			border: 2px solid red;
		}
	}
}